@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vw;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*button*/

.button-brown {
  background-color: #756157;
  color: #FFFFFF;
  cursor: pointer;
}


.button:visited {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus-visible {
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
  cursor: pointer;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus-visible {
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}


.favourites-current {
  background-color: #7DB54F;
  color: #FFFFFF;
  cursor: pointer;
}

.favourites-current:hover {
  background-color: #6C9E42;
}

.favourites-current:focus-visible {
  background-color: #6C9E42;
  outline: none;
}

.favourites-current:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
  ;
}

/*header*/

.navigation {
  display: flex;
  justify-content: flex-start;
}

.navigation-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.sedona-logo {
  position: absolute;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 339px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 168px;
}

.navigation-item {
  margin: 0;
  padding: 0;
}

.navigation-link {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  padding: 20px 16px;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.page-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.page-link,
.button-search {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  min-width: 20px;
  min-height: 20px;
  position: relative;
  margin: 22px 12px;
  cursor: pointer;
}

.page-link::before {
  z-index: 1;
  content: "12";
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  right: -10px;
  text-align: center;
  padding: 5px;
  background-color: #7DB54F;
  border-radius: 50%;
}

.button-search {
  border: none;
  background-color: #FFFFFF;
}

.page-link-hotels {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 14px 0;
  margin-left: 20px;
  padding: 8px 34px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;

}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*promo*/

.page-container {
  flex-grow: 1;
}

.promo {
  background-image: url(../images/promo/divider.svg),
    url(../images/promo/index-background.jpg);
  background-position: bottom, 0;
  background-repeat: no-repeat;
  background-size: 100% 57px, 100% 485px;
}

.promo-image {
  display: block;
  margin: 0 auto;
  padding: 51px 0 82px 0;
}

/*advantages*/
.advantages {
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 69px 0 25px 0;
  padding: 0;
}

.main-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 90px;
}

/*advantages-list*/

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, 384px);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-city {
  grid-column: 1 / -1;
  background-image: url(../images/advantages/view-city.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.advantages-bridge {
  grid-column: 1 / -1;
  background-image: url(../images/advantages/view-canyon.jpg);
  background-repeat: no-repeat;
}

.advantages-city,
.advantages-bridge {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-city {
  padding: 92px 885px 111px 85px;

}

.advantages-bridge {
  padding: 92px 85px 111px 885px;

}

.advantages-square,
.advantages-tourist {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px 121px 85px;

}

.advantages-way {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 103px 85px 121px 85px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto;
  padding: 0;
}

.advantages-title-bridge {
  width: 172px;
}

.line {
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  margin: 30px auto;
}

.line-city,
.line-bridge {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  width: 230px;
  margin: 0;
  padding: 0;
}


/*services-list*/

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 384px;
  background-color: rgba(131, 179, 211, 0.12);
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.services-item {
  padding: 182px 85px 81px 85px;
  background-position: center 80px;
  background-repeat: no-repeat;
}

.services-hotels {
  background-image: url(../images/advantages/hotels.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.services-eat {
  background-color: #FFFFFF;
  background-image: url(../images/advantages/eat.svg);
  background-size: 75px 72px;
}

.services-souvenirs {
  background-image: url(../images/advantages/souvenirs.svg);
  background-size: 75px 72px;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.services-description {
  margin: 0;
}

/*option*/

.option {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 592px;
  padding: 96px 304px;
}

.option-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.option-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.option-link {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

/*mailing*/

.mailing {
  text-align: center;
  background-image: url(../images/mailing/mailing-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 415px;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 96px 258px 104px 258px;
}

.mailing-hotels {
  text-align: center;
  background-color: #FFFFFF;
  color: inherit;
  padding: 96px 258px 104px 258px;
}

.mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.mailing-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
}

.email {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 0 14px 20px;
  width: 452px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.email-hotels {
  background-color: #F2F2F2;
}

.newsletter-button {
  width: 232px;
  border-radius: 0 4px 4px 0;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

/* footer*/
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 40px auto 30px auto;
  align-items: center;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  position: relative;
}

.footer-social-link {
  color: #83B3D3;
}

.footer-social-link:hover,
.footer-social-link:focus-visible {
  color: #68A2CA;
}


.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.icon-social {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-contacts-phone {
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus-visible {
  color: #756157;
  outline: none;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  color: #000000;
}

.footer-logo:hover,
.footer-logo:focus-visible {
  color: #756157;
  outline: none;
}

.footer-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

/*modal*/

.modal-container {
  position: fixed;
  z-index: 2;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-booking {
  width: 717px;
  box-sizing: border-box;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  width: 52px;
  height: 52px;
  right: 50px;
  top: 64px;
  padding: 0;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/modal/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  ;
}

.modal-close-button:active {
  background-image: url(../images/modal/cross-gray.svg);
}

.booking-form {
  width: 577px;
  display: grid;
  grid-template-columns: 137px 110px 220px 110px;
  row-gap: 48px;
}

.form-label {
  padding: 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.modal-message {
  position: absolute;
  top: 310px;
  left: 208px;
  grid-column: 2/-1;
  font-size: 16px;
  margin: 0;
  padding: 0 20px;
  align-items: center;
}

.error {
  top: 213px;
  color: #FF5757;
}

.info-child-conteiner {
  grid-column: 3/4;

}

.info-icon {
  display: block;
  width: 2px;
  padding: 7px 12px;
  margin: 11px 0;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 50%;
}

/*tooltip*/

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  display: block;
}


.tooltip-description {
  position: absolute;
  z-index: 3;
  width: 256px;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 18px 18px 22px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
  left: 349px;
  display: none;
}

.tooltip-description:after {
  content: '';
  background-image: url("../images/modal/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-description,
.tooltip-toggle:focus + .tooltip-description {
  display: block;
}

.input-adult {
  display: inline-block;
  margin-right: auto;
  box-sizing: border-box;
  width: 110px;
}

.date {
  grid-column: 2/-1;
  box-sizing: border-box;
  padding: 12px 20px 12px 20px;
  align-items: flex-end;
  background-color: #F2F2F2;
  background-image: url(../images/modal/date.svg);
  background-repeat: no-repeat;
  background-position: 400px;
  border-radius: 4px;
  border: none;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
}

.info-child-conteiner {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
}

.number {
  width: 110px;
  box-sizing: border-box;
  padding: 14px 40px;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  appearance: textfield;
  font: inherit;
  font-weight: 700;
  line-height: 20px;
  align-items: center;
  text-align: center;
}

.date:hover,
.number:hover{
  background-color: #E6E6E6;
}

.date:focus-visible,
.number:focus-visible{
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.date:active,
.number:active{
  background-color: #F2F2F2;
  outline: 2px solid #000000;
}

.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.plus {
  position: absolute;
  transform: translate(-30px, 14px);
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../images/modal/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 4px;
}

.minus {
  position: absolute;
  transform: translate(15px, 14px);
  margin: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../images/modal/minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 4px;
}

.plus:hover {
  background-image: url(../images/modal/plus-black.svg);
}

.minus:hover {
  background-image: url(../images/modal/minus-black.svg)
}

.plus:focus-visible {
  outline: 3px solid #82B3D3;
  background-image: url(../images/modal/plus-black.svg);
}

.minus:focus-visible {
  background-image: url(../images/modal/minus-black.svg);
  outline: 3px solid #82B3D3;
}

.plus:active {
  background-image: url(../images/modal/plus.svg);
}

.minus:active {
  background-image: url(../images/modal/minus.svg)
}

.button-search-modal {
  grid-column: 1/-1;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 18px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 10px;
}
/*
.modal-container-close {
  display: none;
}
*/
/*main-inner*/
/*filter*/

.background-filter-conteiner {
  background-image: url(../images/filter-hotels/background-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% 412px;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 70px;
  padding-top: 35px;
  margin-bottom: 50px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}


/*breadcrumbs*/

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item:not(:first-child)::after {
  content: "";
  transform: translate(-18px, -21px);
  background-image: url(../images/breadcrumbs.svg);
  background-repeat: no-repeat;
  background-size: 8px 20px;
  display: block;
  width: 8px;
  height: 20px;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-item:not(:first-child) .breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:not(:first-child) .breadcrumbs-link:focus-visible {
  color: inherit;
}

.breadcrumbs-item:not(:first-child) .breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.home-icon {
  display: block;
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-size: 13px 15px;
  width: 13px;
  height: 15px;
  margin: 3px 28px 5px 0;
}

/*filter*/

.hotels-filter {
  width: 1060px;
  display: flex;
}

.hotels-filter-group {
  margin: 0;
  padding: 0;
  margin-right: 70px;
  border: none;
}

.hotels-filter-group:nth-child(2) {
  margin-right: 140px;
}

.hotels-filter-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.hotels-filter-form {
  display: flex;
}

.hotels-filter-list {
  line-height: 23px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
}

.control-input[type="checkbox"] + .control-mark {
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url(../images/filter-hotels/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input:focus-visible + .control-mark {
  outline: 3px solid #83B3D3;
}

.control:hover {
  opacity: 0.6;
}

.control:focus-visible {
  color: inherit;
  outline: #83B3D3;
}

.control:active {
  opacity: 0.3;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.range-title {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.range-wrapper-inputs {
  margin-bottom: 46px;
  display: flex;
  position: relative;
}

.filter-label-min,
.filter-label-max {
  position: absolute;
  z-index: 1;
  color: rgba(0, 0, 0, 0.3);
}

.filter-label-min {
  left: 106px;
  top: 12px;
}

.filter-label-max {
  right: 20px;
  top: 12px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input {
  position: relative;
  width: 143px;
  height: 48px;
  padding: 12px 40px 12px 20px;
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border: none;
  box-sizing: border-box;
  appearance: textfield;
}

.range-input:hover {
  background-color: #E6E6E6;
}

.range-input:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.range-input:active {
  background: #F2F2F2;
  outline: 2px solid #000000;
}

.range-min {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.range-max {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  right: 61px;
  width: 226px;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.button-submit,
.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
}

.button-submit {
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  margin-bottom: 32px;
}

.button-reset {
  border: none;
  background-color: transparent;
  padding: 8px 57px;
}

.button-reset:hover {
  opacity: 0.5;
}

.button-reset:active {
  opacity: 0.3;
}

.button-reset:focus-visible {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

/*hotel-sort*/

.hotels-container {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.hotel-sort {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hotels-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 200px;
}

.select {
  width: 292px;
  align-items: center;
  margin-right: 70px;
  padding: 14px 0 14px 20px;
  font: inherit;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  background-image: url("../images/drop-down.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select:hover,
.select:focus-visible {
  border: 2px solid #68A2CA;
  outline: none;
}

.select:active {
  border: 2px solid #3F5E72;
}

.button-view-display {
  position: relative;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.button-view-display:nth-of-type(3n) {
  margin-right: 0;
}

.button-view-display:first-of-type {
  border: 2px solid #000000;
}

.button-view-display:hover,
.button-view-display:active {
  border: 2px solid #000000;
}

.button-view-display:focus-visible {
  border: 2px solid #68A2CA;
  outline: none;
}

.view-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*hotels*/

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.hotels-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px min-content auto min-content min-content;
  gap: 16px 20px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.hotels-card-image {
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
}

.hotels-card-type,
.hotels-card-price {
  color: #333333;
  margin: 0;
  padding: 0;
}

.hotels-card-price {
  text-align: right;
}


.button-by,
.button-favourites,
.favourites-current {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}

.button-by {
  text-decoration: none;
  padding: 8px 26px;
}

.button-favourites {
  font-family: inherit;
  border: none;
}

.star {
  background-image: url(../images/hotels/star.svg);
  background-repeat: space;
  padding: 10px 6px 10px 0;
  margin: 6px;
  margin-left: 0;
  background-position-y: center;
}

.four-stars {
  width: 72px;
}

.three-stars {
  width: 54px;
}

.two-stars {
  width: 36px;
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.line-hotels {
  border: 1px solid #E6E6E6;
  margin: 40px 0;
}

/*pagination*/

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  text-align: center;
  padding: 12px 12px;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #82B3D3;

}

.pagination-item:nth-child(5) > .pagination-link {
  background-color: #FFFFFF;
  color: inherit;
}

.pagination-current {
  background-color: #F2F2F2;
  color: inherit;
}
