@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vw;
  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*button*/

.button-brown {
  background-color: #756157;
  color: #FFFFFF;
  cursor: pointer;
}

/*
.button:visited {
  background-color: #E5E5E5;
  color: #FFFFFF;
}
*/
.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus-visible {
  background-color: #615048;
  outline: none;
}

.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
  cursor: pointer;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus-visible {
  background-color: #68A2CA;
  outline: none;
}

.button-blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
  ;
}


.favourites-current {
  background-color: #7DB54F;
  color: #FFFFFF;
  cursor: pointer;
}

.favourites-current:hover {
  background-color: #6C9E42;
}

.favourites-current:focus-visible {
  background-color: #6C9E42;
  outline: none;
}

.favourites-current:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
  ;
}

/*header*/

.navigation {
  display: flex;
  justify-content: flex-start;
}

.navigation-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.sedona-logo {
  position: absolute;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 339px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 168px;
}

.navigation-item {
  margin: 0;
  padding: 0;
}

.navigation-link {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  padding: 20px 16px;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.page-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.page-link,
.button-search {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  min-width: 20px;
  min-height: 20px;
  position: relative;
  margin: 22px 12px;
  cursor: pointer;
}

.page-link::before {
  z-index: 1;
  content: "12";
  color: #FFFFFF;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  right: -10px;
  text-align: center;
  padding: 5px;
  background-color: #7DB54F;
  border-radius: 50%;
}

.button-search {
  border: none;
  background-color: #FFFFFF;
}

.page-link-hotels {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 14px 0;
  margin-left: 20px;
  padding: 8px 34px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;

}



.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*promo*/

.page-container {
  flex-grow: 1;
}

.promo {
  background-image: url(../images/promo/divider.svg),
    url(../images/promo/index-background.jpg);
  background-position: bottom, 0;
  background-repeat: no-repeat;
  background-size: 100% 57px, 100% 485px;
}

.promo-image {
  display: block;
  margin: 0 auto;
  padding: 51px 0 82px 0;
}

/*advantages*/
.advantages {
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 69px 0 25px 0;
  padding: 0;
}

.main-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 90px;
}

/*advantages-list*/

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, 384px);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-city {
  grid-column: 1 / -1;
  background-image: url(../images/advantages/view-city.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.advantages-bridge {
  grid-column: 1 / -1;
  background-image: url(../images/advantages/view-canyon.jpg);
  background-repeat: no-repeat;
}

.advantages-city,
.advantages-bridge {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-city {
  padding: 92px 885px 111px 85px;

}

.advantages-bridge {
  padding: 92px 85px 111px 885px;

}

.advantages-square,
.advantages-tourist {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px 121px 85px;

}

.advantages-way {
  background-color: rgba(131, 179, 211, 0.2);
  padding: 103px 85px 121px 85px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  width: 175px;
  margin: 0 auto;
  padding: 0;
}

.advantages-title-bridge {
  width: 172px;
}

.line {
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  margin: 30px auto;
}

.line-city,
.line-bridge {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  width: 230px;
  margin: 0;
  padding: 0;
}


/*services-list*/

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 384px;
  background-color: rgba(131, 179, 211, 0.12);
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.services-item {
  padding: 182px 85px 81px 85px;
  background-position: center 80px;
  background-repeat: no-repeat;
}

.services-hotels {
  background-image: url(../images/advantages/hotels.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.services-eat {
  background-color: #FFFFFF;
  background-image: url(../images/advantages/eat.svg);
  background-size: 75px 72px;
}

.services-souvenirs {
  background-image: url(../images/advantages/souvenirs.svg);
  background-size: 75px 72px;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.services-description {
  margin: 0;
}

/*option*/

.option {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 592px;
  margin: 96px 304px;
}

.option-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.option-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.option-link {
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

/*mailing*/

.mailing {
  text-align: center;
  background-image: url(../images/mailing/mailing-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 415px;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 96px 258px 104px 258px;
}

.mailing-hotels {
  text-align: center;
  background-color: #FFFFFF;
  color: inherit;
  margin: 96px 258px 104px 258px;
}

.mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.mailing-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
}

.email {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 0 14px 20px;
  width: 452px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.email-hotels {
  background-color: #F2F2F2;
}

.newsletter-button {
  width: 232px;
  border-radius: 0 4px 4px 0;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

/* footer*/
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 40px auto 30px auto;
  align-items: center;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  position: relative;
}

.icon-social {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-social-link:hover .icon-social {
  fill: #68A2CA;
}


.footer-contacts-phone {
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus-visible {
  color: #756157;
  outline: none;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/*main-inner*/
/*filter*/

.background-filter-conteiner {
  background-image: url(../images/filter-hotels/background-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% 412px;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 70px;
  padding-top: 35px;
  margin-bottom: 50px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}


/*breadcrumbs*/

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item:not(:first-child)::after {
  content: "";
  transform: translate(-18px, -21px);
  background-image: url(../images/breadcrumbs.svg);
  background-repeat: no-repeat;
  background-size: 8px 20px;
  display: block;
  width: 8px;
  height: 20px;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-item:not(:first-child) .breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:not(:first-child) .breadcrumbs-link:focus-visible {
  color: inherit;
  outline: none;
}

.breadcrumbs-item:not(:first-child) .breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.home-icon {
  display: block;
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-size: 13px 15px;
  width: 13px;
  height: 15px;
  margin: 3px 28px 5px 0;

}

.hotels-filter {
  width: 1060px;
  display: flex;
}

.hotels-filter-group {
  border: 0;
}

.hotels-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.hotels-filter-form {
  display: flex;
}

.hotels-filter-list {
  line-height: 23px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button-submit,
.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
}

.button-submit {
  padding: 8px 50px;
  border: none;
  border-radius: 4px;
  margin-bottom: 32px;
}

.button-reset {
  border: none;
  background-color: transparent;
  padding: 8px 57px;
}

.button-reset:hover {
  opacity: 0.5;
}

.button-reset:active {
  opacity: 0.3;
}

.button-reset:focus-visible {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

/*hotel-sort*/

.hotels-container {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.hotel-sort {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.hotels-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 200px;
}

.select-control {
  box-sizing: border-box;
  color: #333333;
  font: inherit;
  margin-right: 70px;
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.button-view-display {
  position: relative;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin-right: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.button-view-display:nth-of-type(3n) {
  margin-right: 0;
}

.button-view-display:first-of-type {
  border: 2px solid #000000;
}

.button-view-display:hover,
.button-view-display:active {
  border: 2px solid #000000;
}

.button-view-display:focus-visible {
  border: 2px solid #68A2CA;
}

.view-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/*hotels*/

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
}

.hotels-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px min-content auto min-content min-content;
  gap: 16px 20px;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.hotels-card-image {
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
}

.hotels-card-type,
.hotels-card-price {
  color: #333333;
  margin: 0;
  padding: 0;
}

.hotels-card-price {
  text-align: right;
}


.button-by,
.button-favourites,
.favourites-current {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}

.button-by {
  text-decoration: none;
  padding: 8px 26px;
}

.button-favourites {
  font-family: inherit;
  border: none;
}

.star {
  background-image: url(../images/hotels/star.svg);
  background-repeat: space;
  padding: 10px 6px 10px 0;
  margin: 6px;
  margin-left: 0;
  background-position-y: center;
}

.four-stars {
  width: 72px;
}

.three-stars {
  width: 54px;
}

.two-stars {
  width: 36px;
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.line-hotels {
  border: 1px solid #E6E6E6;
  margin: 40px 0;
}

/*pagination*/

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  text-align: center;
  padding: 12px 12px;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #82B3D3;

}

.pagination-item:nth-child(5) > .pagination-link {
  background-color: #FFFFFF;
  color: inherit;
}

.pagination-current {
  background-color: #F2F2F2;
  color: inherit;
}
