@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;

}

.container {

  margin: 0 auto;
  width: 1200px;
  background-color: #FFFFFF;
}

/*header*/

.navigation {
  display: flex;
  width: 507px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 70px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 339px;
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
}

.page-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  margin-right: 70px;
  justify-content: flex-end;
  align-items: center;
}

.page-link,
.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
}

.button-search {
  border: none;
  background-color: #FFFFFF;
}

.page-link-hotels {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

/*promo*/

.page-container {
  flex-grow: 1;
}

.promo {
  background-image: url(../images/promo/divider.svg),
    url(../images/promo/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 57px, 100% 485px;
}

.promo-image {
  display: block;
  margin: 0 auto;
}

/*advantages*/
.advantages {
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}

.main-text {
  font-size: 22px;
  line-height: 26px;
}

/*advantages-list*/

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-city,
.advantages-bridge {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-square,
.advantages-tourist {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-way {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/*services-list*/

.services-list {
  background-color: rgba(131, 179, 211, 0.2);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-eat {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/*option*/

.option {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 592px;
}

.option-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.option-description {
  font-size: 22px;
  line-height: 26px;
}

.option-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  ;
}

/*mailing*/

.mailing {
  text-align: center;
  background-image: url(../images/mailing/mailing-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 415px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.mailing-hotels {
  background-color: #FFFFFF;
  color: inherit;
}

.mailing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.mailing-description {
  font-size: 22px;
  line-height: 26px;
}

.email {
  line-height: 24px;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-transform: uppercase;
}

/* footer*/
.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-contacts-phone {
  text-decoration: none;
  color: inherit;
}

.footer-logo {
  margin-right: 70px;
}

/*main-inner*/
/*filter*/

.background-filter-conteiner {
  background-image: url(../images/filter-hotels/background-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% 412px;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 70px;
  padding-top: 35px;
  margin-bottom: 50px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

.hotels-filter {
  width: 1060px;
  display: flex;

}

.hotels-filter-group {
  border: 0;
}

.hotels-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.hotels-filter-form {
  display: flex;
}

.hotels-filter-list {
  line-height: 23px;
}

.button-submit-filter,
.button-reset-filer {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
}

.button-submit-filter {
  background-color: #82B3D3;
}

.button-reset-filer {
  border: none;
}

/*hotel-sort*/

.hotels-container {
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.hotel-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  color: #333333;
  font: inherit;
}


/*hotels*/

.hotels-card {
  background-color: #FFFFFF;
}

.hotels-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotels-card-type,
.hotels-card-price {
  color: #333333;
}

.hotels-card-button-by,
.hotels-card-button-favourites,
.hotels-card-button-favourites-current {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hotels-card-button-by {
  background-color: #756157;
  text-decoration: none;
}

.hotels-card-button-favourites {
  background-color: #82B3D3;
}

.hotels-card-button-favourites-current {
  background-color: #7DB54F;
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

/*pagination*/

.pagination-link,
.pagination-link-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.pagination-link {
  background-color: #82B3D3;
}

.pagination-link-current {
  background-color: #F2F2F2;

}
